
<p id="notice"><%= notice %></p>

<h1><%= @author.name %></h1>

<h2>Books:</h2>
<ul>
  <% @books.each do |book| %>
    <li><p>title :<%= book.title %></p></li>
     <li><p>name :<%= book.name %></p></li>
     <li><p>publish at :<%= book.publish_at %></p></li>
     <li><p>author_id :<%= book.author_id %></p></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
