<p id="notice"><%= notice %></p>

<h1><%= @author.name %></h1>

<h2>Books:</h2>
<ul>
  <% @books.each do |book| %>
    <li><%= book.title %></li>
     <li><%= book.name %></li>
     <li><%= book.publish_at%></li>
     <li><%= book.author.name %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
